{% extends "base_layout.html" %}

{% block body %}

<style>
    .our-team {
        padding: 30px 0 40px;
        margin-bottom: 30px;
        background-color: #f7f5ec;
        text-align: center;
        overflow: hidden;
        position: relative;
        border-radius: 7%;
    }

    .our-team .picture {
        display: inline-block;
        height: 130px;
        width: 130px;
        margin-bottom: 50px;
        z-index: 1;
        position: relative;
    }

    .our-team .picture::before {
        content: "";
        width: 100%;
        height: 0;
        border-radius: 50%;
        background-color: #3a6b4d;
        position: absolute;
        bottom: 135%;
        right: 0;
        left: 0;
        opacity: 0.9;
        transform: scale(3);
        transition: all 0.3s linear 0s;
    }

    .our-team:hover .picture::before {
        height: 100%;
    }

    .our-team .picture::after {
        content: "";
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: #3a6b4d;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }

    .our-team .picture img {
        width: 100%;
        height: auto;
        border-radius: 50%;
        transform: scale(1);
        transition: all 0.9s ease 0s;
    }

    .our-team:hover .picture img {
        box-shadow: 0 0 0 14px #f7f5ec;
        transform: scale(0.7);
    }

    .our-team .title {
        display: block;
        font-size: 15px;
        color: #4e5052;
        text-transform: capitalize;
    }

    .our-team .social {
        width: 100%;
        padding: 0;
        margin: 0;
        background-color: #406b516b;
        position: absolute;
        bottom: -100px;
        left: 0;
        transition: all 0.5s ease 0s;
        color: black;
    }

    .our-team:hover .social {
        bottom: 0;
    }

    .our-team .social li {
        display: inline-block;
    }

    .our-team .social li a {
        display: block;
        padding: 10px;
        font-size: 17px;
        color: white;
        transition: all 0.3s ease 0s;
        text-decoration: none;
    }

    .our-team .social li a:hover {
        color: #1369ce;
        background-color: #f7f5ec;
    }
</style>
<h1 style="text-align: center">ผู้จัดทำ</h1>

<div class="container">

    <div class="card" style=" border-radius: 25px;">
        <div class="card-body">
            <div class="row">
                {% for data in response%}
                <div class="col-12 col-sm-6 col-md-4 col-lg-4">
                    <div class="our-team">
                        <div class="picture">
                            <img class="img-fluid" src="{{data.img}}">
                        </div>
                        <div class="team-content">
                            <h3 class="name" style="font-size: 22px;">{{data.name}}</h3>                            
                            <h4 class="title">{{data.role}}</h4>
                            <h4 class="title">{{data.std_id}}</h4>
                        </div>
                        <ul class="social">
                            <li><a href="{{data.facebook}}" target="_blank"><i class="fab fa-facebook" style="font-size:20px;"></i></a>
                            </li>
                            <li><a href="mailto:{{data.mail}}" target="_blank"><i class="fad fa-envelope" style="font-size:20px;"></i></a></a>
                            </li>
                            <li><a href="{{data.git}}" target="_blank"><i class="fab fa-github" style="font-size:20px;"></i></a></li>
                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
   
</div>


{% endblock %}