{% extends "base_layout.html" %} {% block body %}
<!-- Material input -->
<div class="container-fluid p-5">
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <h1 class="float-center" id="id_h"></h1>

      <div class="float-right">
        <form class="form-inline ml-5" action="" method="get">
        
          <div class="md-form">
            <input type="text" name="id" id="id" id="form1" class="form-control">
            <label for="form1">Input ID</label>
          </div>
  
  
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>

    </div>
    <div class="col-md-12 col-sm-12">
      <div class="card">
        <div class="card-body">
          <div id="chart"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  function GetURLParameter(sParam) {
    var sPageURL = window.location.search.substring(1);
    var sURLVariables = sPageURL.split("&");
    for (var i = 0; i < sURLVariables.length; i++) {
      var sParameterName = sURLVariables[i].split("=");
      if (sParameterName[0] == sParam) {
        return sParameterName[1];
      }
    }
  }

  async function loadChart(id) {
    let response = await fetch(`\loadChart?id=${id}`).then((res) => res.json());
    let chartData = response.result.map((data) => ({
      x: new Date(data.time),
      y: [data.open, data.high, data.low, data.close],
    }));

    $("#id_h").text(id)

    let options = {
      series: [{
        data: [...chartData],
      }, ],
      chart: {
        type: "candlestick",
        height: 720,
        width: '100%',
        animations: {
          enabled: false
        }
      },
      legend: {
        position: "right",
        verticalAlign: "top",
        containerMargin: {
          left: 35,
          right: 60
        }
      },
      responsive: [{
        breakpoint: 1000,
        options: {
          plotOptions: {
            bar: {
              horizontal: false
            }
          },
          legend: {
            position: "bottom"
          }
        }
      }],
      title: {
        text: id+" Chart",
        align: "left",
      },
      xaxis: {
        type: "datetime",
      },
      yaxis: {
        tooltip: {
          enabled: true,
        },
      },
    };

    let chart = new ApexCharts(document.querySelector("#chart"), options)
    chart.render()
  }

  var id = GetURLParameter("id");
  loadChart(id);
</script>
{% endblock %}