{% extends "base_layout.html" %} {% block body %}
<!-- Material input -->
<div class="container-fluid">
  <div class="row">
    <div class="card">
      <div class="card-body">
        <div id="chart"></div>
      </div>
    </div>
  </div>
</div>

<script>
  function GetURLParameter(sParam) {
    var sPageURL = window.location.search.substring(1);
    var sURLVariables = sPageURL.split("&");
    for (var i = 0; i < sURLVariables.length; i++) {
      var sParameterName = sURLVariables[i].split("=");
      if (sParameterName[0] == sParam) {
        return sParameterName[1];
      }
    }
  }

  async function loadChart(id) {
    let response = await fetch(`\loadChart?id=${id}`).then((res) => res.json());
    let chartData = response.result.map((data) => ({
      x: new Date(data.time),
      y: [data.open, data.high, data.low, data.close],
    }));

    let options = {
      series: [
        {
          data: [...chartData],
        },
      ],
      chart: {
        type: "candlestick",
        height: 720,
        width: 1280,
        animations: {
            enabled: false
        }
      },
      title: {
        text: "candlestick Chart",
        align: "left",
      },
      xaxis: {
        type: "datetime",
      },
      yaxis: {
        tooltip: {
          enabled: true,
        },
      },
    };

    let chart = new ApexCharts(document.querySelector("#chart"), options)
    chart.render()
  }

  var id = GetURLParameter("id");
  loadChart(id);
</script>
{% endblock %}
