{% extends "base_layout.html" %}

{% block body %}

<div class="container">
  <div class="card">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-striped table-bordered table-md" cellspacing="0" width="100%">
          <thead>
            <tr class="text-center">
              <th class="th-sm">#
              </th>
              <th class="th-sm">Name
              </th>
              <th class="th-sm">Price
              </th>
              <th class="th-sm">Hight
              </th>
              <th class="th-sm">Volume
              </th>
              <th class="th-sm">Volume Change
              </th>
              <th class="th-sm">Chart
              </th>
            </tr>
          </thead>

          <tbody id="scroller">
            <tr id="post_template">
              <th scope="row" class="text-center" style="width: 50px;" id="rank">
              </th>
              <td class="dashboard__table-data" style="width: 100px;" id="logo">
                <img class="dashboard__currencyIcon" src="" width="20"> <span>&nbsp;&nbsp;</span></td>
              <td id="price"style="width: 50px;">
              </td>
              <td id="hight"style="width:100px;">
              </td>
              <td id="amount" style="width: 50px;">
              </td>
              <td id="lower" style="width: 50px;">
              </td>
              <td id="about_market" class="text-center" style="width: 50px;">
              </td>
            </tr>
          </tbody>

        </table>
      </div>

      <div class="d-flex justify-content-center mb-3" id="sentinel">
        <div class="spinner-border" role="status"></div>
      </div>

    </div>
  </div>
</div>



<script>
  var scroller = document.querySelector("#scroller");
  var template = document.querySelector("#post_template")
  var loaded = document.querySelector("#loaded")
  var sentinel = document.querySelector("#sentinel")

  var counter = 0;


  function loadItems() {
    var formatter = new Intl.NumberFormat('th-TH',{
      style:'currency',
      currency:'THB'
    })

    var b = new Intl.NumberFormat('en-US',{
      style: 'decimal'
    })
    


    fetch(`/load?c=${counter}`).then((response) => {

      response.json().then((data) => {
        if (!data.length) {
          sentinel.innerHTML = "No more post"
          return;
        }

        for (var i = 0; i < data.length; i++) {
          let template_clone = template.cloneNode(true);

          template_clone.querySelector("#rank").innerHTML = `${data[i]['rank']}`
          template_clone.querySelector("#logo img").setAttribute("src", data[i]['logo_url'])
          template_clone.querySelector("#logo span").innerHTML = data[i]['id']
          template_clone.querySelector("#price").innerHTML = formatter.format(data[i]['price']);
          template_clone.querySelector("#amount").innerHTML = b.format(data[i]['1d']['volume'])
          template_clone.querySelector("#hight").innerHTML = formatter.format(data[i]['high'])
          template_clone.querySelector("#lower").innerHTML = b.format(data[i]['1d']['volume_change'])
          template_clone.querySelector("#about_market").innerHTML = `<a type="button" href="/chart?id=`+data[i]['id']+`" class="btn btn-sm btn-rounded waves-effect btn-warning"> Chart`  +
            `</a>`

          scroller.appendChild(template_clone)
          counter += 1;
          console.log(counter + "items loaded")
        }
      })

    })

  }


  var intersectionObserver = new IntersectionObserver(entries => {


    if (entries[0].intersectionRatio <= 0) {
      return;
    }
    loadItems();
  });
  intersectionObserver.observe(sentinel);
</script>

{% endblock %}
